.header-container {
  width: 100%;
  height: auto;
  /* background-color: var(--dark-gray-secondary-background); */
  margin-bottom: 100px;
}
.header-container--body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
.about-me--container {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.greeting-text {
  font-size: 4rem;
}
.greeting-text span {
  color: var(--green-primary);
}
.name-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8rem;
  font-weight: 500;
  color: var(--green-primary);
}
.name-text span {
  font-weight: 600;
}
.profession-text {
  margin-bottom: 20px;
  font-size: 3.6rem;
  font-weight: 100;
}
.about-me--container h2 {
  margin-bottom: 4px;
  font-size: 3rem;
  font-weight: normal;
  color: var(--green-primary);
}
.about-me-text {
  margin-bottom: 40px;
  font-size: 2rem;
}
.about-me--container button {
  align-self: center;
  width: 300px;
  height: 50px;
  background-color: var(--green-primary);
  border: none;
  border-radius: 8px;
  font-size: 2rem;
  color: var(--off-white);

  transition-property: all; /*Propiedades que van a sufrir la transicion*/
  transition-duration: 0.2s; /*Tiempo que durará la transicion*/
  transition-timing-function: ease; /*Define la curva de aceleracion que llevará la transicion*/
}
.about-me--container button:hover {
  background-color: var(--off-white);
  box-shadow: 0 0 5px var(--off-white);
  color: var(--green-primary);
  font-weight: bold;
}
.about-me--container button:active {
  background-color: var(--green-primary);
  box-shadow: 0 0 5px var(--green-primary);
  color: var(--off-white);
}
.background-img {
  place-self: center;
  display: grid;
  place-content: center;
  width: 40%;
  height: 20vw;
  background-color: var(--green-primary);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  /* box-shadow: -10px 0 100px var(--green-primary); */

  transition: all 1s ease;
}
.header-container--body img {
  justify-self: center;
  translate: 0 30px;
  width: 70%;
  /* height: 300px; */
  transition: all 1s ease;
}

@media (max-width: 850px) {
  .header-container--body {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
  }
  .about-me--container {
    margin-top: 50px;
    align-self: center;
    width: 80%;
  }
  .background-img {
    width: 40%;
    height: 35vw;
  }
  .header-container--body img {
    justify-self: center;
    translate: 0 30px;
    width: 70%;
  }
}

@media (max-width: 560px) {
  .greeting-text {
    font-size: 3rem;
  }
  .name-text {
    font-size: 5.5rem;
  }
  .profession-text {
    font-size: 2.6rem;
  }
  .about-me--container h2 {
    font-size: 2.5rem;
  }
  .about-me-text {
    font-size: 1.8rem;
  }
  .about-me--container button {
    width: 250px;
    font-size: 1.8rem;
  }
  .header-container--body img {
    translate: 0 20px;
    width: 70%;
  }
}
