.footer-container {
  width: 100%;
  height: auto;
  padding: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-gray-primary-background);
}
.links-container {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
.links-container a {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--off-white);
  border-radius: 50%;
  font-size: 2.6rem;
  text-decoration: none;
  color: var(--dark-gray-primary-background);

  transition: all 0.2s ease;
}
.links-container a:hover {
  background-color: var(--green-primary);
}
.footer-container p {
  font-size: 1.6rem;
}
.copyright-text {
  margin-top: 10px;
}
.copyright-text span {
  color: var(--green-primary);
}
